@import "../../styles/Const.scss";

// INPUT
$primary: #11998e;
$secondary: #38ef7d;
$black: rgb(0, 0, 0);
$gray: #9b9b9b;
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: $wrapper;
}
