.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1vh;
  cursor: pointer;

  font-family: sans-serif;
  border: 1px solid rgb(214, 212, 212);
  padding: 3vh 3vw;
  height: 5vh;
  resize: both;
  background: rgb(246, 248, 212);
}

.task:hover {
  width: 89%;
  background: rgb(239, 245, 160);
}

.task__completed {
  background: rgb(216, 216, 216);
}

.task__completed:hover {
  background: rgb(216, 216, 216);
  width: 88%;
}

.task__check {
}

.task__text {
  width: 400px;
}

.task__textarea {
  width: 400px;
  resize: none;
}

.border {
}
