.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1vh;

  font-family: sans-serif;
  border: 1px solid rgb(214, 212, 212);
  padding: 3vh 3vw;
  height: 5vh;
  resize: both;
  background: rgb(243, 240, 240);
}

.task__completed {
  background: rgb(191, 240, 205);
}

.task__check {
}

.task__text {
  width: 400px;
}

.task__textarea {
  width: 400px;
  resize: none;
}

.border {
}
