.task {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  font-family: sans-serif;
  border: 1px solid black;
  border-radius: 30px;
  padding: 2rem 1rem;
  min-height: 3em;
  resize: both;
  background: linear-gradient(
    to top,
    rgba(#cffffe, 0.3),
    rgba(#f9f7d9, 0.3),
    rgba(#fce2ce, 0.3),
    rgba(#ffc1f3, 0.3)
  );
}

.task__check {
}

.task__text {
  width: 400px;
}

.task__textarea {
  width: 400px;
  resize: none;
}

.border {
}
