@import "Const";

.main_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  margin-top: 100px;
  height: 400px;
  width: 100vw;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: $wrapper;
}

h1 {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
