.main_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
  flex-direction: column;
}

.logo {
}

.input_task {
  width: 200px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 205px;
}

.filter {
  display: flex;
}

.sort {
}

.tasks {
  display: flex;
  flex-direction: column;
  width: 205px;
}

.task {
  display: flex;
}

.pages {
  display: flex;
  justify-content: space-between;
  width: 205px;
}
